# Hugo 빌드 결과물 (GitHub Actions로 배포한다면 로컬 public 폴더는 올릴 필요가 없음)
public/
resources/
_vendor/

# Hugo 캐시 및 임시 파일
.hugo_build.lock
hugo_stats.json

# 운영체제 관련 불필요한 파일 (Windows, macOS)
# Windows
Thumbs.db
desktop.ini
$RECYCLE.BIN/

# macOS
.DS_Store
.AppleDouble
.LSOverride

# 에디터 관련 설정 (VS Code, IntelliJ 등)
.vscode/
.idea/
*.swp
*.bak

# 로그 파일
npm-debug.log*
yarn-debug.log*
yarn-error.log*